/*---------LAYOUT---------*/
body, main, .pay-box, .pay-info, .bill-form, .actions, .price-box {
  display: flex;
}

body main, main main, .pay-box main, .pay-info main, .bill-form main, .actions main, .price-box main {
  margin: auto;
}

main, .pay-info, .bill-form, .price-box {
  flex-direction: column;
}

.price-box {
  flex-wrap: wrap;
}

.pay-box {
  width: 590px;
  min-height: 650px;
}

.pay-box {
  width: 590px;
  min-height: 650px;
}

.price-box {
  padding: 38px 45px 48px;
  background-image: linear-gradient(-50deg, #25c2e6 0%, #63c089 100%);
}

.pay-info, .bill-form {
  width: 292px;
  height: 395px;
}

.item {
  width: 260px;
  min-height: 60px;
}

.total {
  width: 584px;
  height: 102px;
  background-color: rgba(0, 0, 0, 0.6);
}

.bill-form {
  padding: 41px 39px;
  background-color: white;
}

.bill-form :not(.switcher) {
  width: 508px;
  height: 72px;
  margin-bottom: 18px;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
}

.round-btn {
  width: 126px;
  height: 126px;
  border-radius: 90px;
  border: 3px solid #c6c6c6;
}

.back {
  display: block;
}

.back img {
  margin: 46px;
  width: 20px;
  height: 34px;
}

.pay-now {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #4ed7cb;
}

.reset-fields {
  padding: 27px;
  background-color: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*---------------LAYOUT--END--------------*/
